<!DOCTYPE html>

<html lang="en">
  <head>
    <title>CashApp</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
  </head>

  <body>
    <div class="ui container">
      <div class="ui secondary pointing menu">
        <a class="item active" href="/"> <i class="dollar sign icon"></i> </a>
        <a class="item" href="/money/transfer/new">Transfer</a>
        <a class="item" href="/money/request/new">Request</a>
        <a class="item" href="/money/add-funds/new">Add Funds</a>
        <a class="item" href="/money/cashout/new">Cash Out</a>
        <div class="right menu">
          <a class="ui item" href="/users/signup">Sign Up</a>
          <a class="ui item" href="/users/login">Login</a>
          <a class="ui item" href="/users/logout">Logout</a>
        </div>
      </div>
    



