<%- include("./partials/header") %> <% if(sucess_message){ %>
<div class="ui positive message">
  <i class="close icon"></i>
  <div class="header">
    <%= sucess_message %>
  </div>
</div>
<% } %>

<h1>Homepage</h1>

<%- include("./partials/footer") %>
