<%- include("../partials/header") %>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">
        Add Funds to Your Account
      </div>
    </h2>
    <form action="/money/add-funds" method="POST" class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left input">
            <input type="text" name="bank_id" placeholder="Bank ID" />
          </div>
        </div>
        <div class="field">
          <div class="ui left input">
            <input
              type="number"
              step="0.01"
              name="amount"
              placeholder="Amount"
            />
          </div>
        </div>
        <button class="ui fluid large teal submit button" type="submit">
          Add Funds
        </button>
      </div>

      <div class="ui error message"></div>
    </form>
  </div>
</div>

<%- include("../partials/footer") %>
